# Created by .ignore support plugin (hsz.mobi)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea
*.iml
out
gen
googletest-master
.DS_Store
googletest-master/.gitignore
googletest-master/.travis.yml
googletest-master/BUILD.bazel
googletest-master/CMakeLists.txt
googletest-master/CONTRIBUTING.md
googletest-master/LICENSE
googletest-master/Makefile.am
googletest-master/README.md
googletest-master/WORKSPACE
googletest-master/appveyor.yml
googletest-master/ci/
googletest-master/configure.ac
googletest-master/googlemock/CHANGES
googletest-master/googlemock/CMakeLists.txt
googletest-master/googlemock/CONTRIBUTORS
googletest-master/googlemock/LICENSE
googletest-master/googlemock/Makefile.am
googletest-master/googlemock/README.md
googletest-master/googlemock/cmake/
googletest-master/googlemock/configure.ac
googletest-master/googlemock/docs/
googletest-master/googlemock/include/
googletest-master/googlemock/make/
googletest-master/googlemock/msvc/
googletest-master/googlemock/scripts/
googletest-master/googlemock/src/
googletest-master/googlemock/test/
googletest-master/googletest/CHANGES
googletest-master/googletest/CMakeLists.txt
googletest-master/googletest/CONTRIBUTORS
googletest-master/googletest/LICENSE
googletest-master/googletest/Makefile.am
googletest-master/googletest/README.md
googletest-master/googletest/cmake/
googletest-master/googletest/codegear/
googletest-master/googletest/configure.ac
googletest-master/googletest/docs/
googletest-master/googletest/include/
googletest-master/googletest/m4/
googletest-master/googletest/make/
googletest-master/googletest/msvc/
googletest-master/googletest/samples/
googletest-master/googletest/scripts/
googletest-master/googletest/src/
googletest-master/googletest/test/
googletest-master/googletest/xcode/
